*,
*::before,
*::after {
  box-sizing: border-box; /* margin, border and padding are considered into width (unlike content-box) */
  margin: 0;
  padding: 0;
}

:root {
  /* Colors */
  --primary-color: #007bff;
  --secondary-color: #6c757d;
  --text-color: #212529;
  --background-color: #ffffff;
  --accent-color: #28a745;

  /* Typography */
  --font-main: Helvetica, Arial, sans-serif;
  --font-size-base: 1rem;
  --heading-color: #333;

  /* Heights */
  --nav-height: 8vh;
  --footer-height: 8vh;
}

img,
svg {
  display: block;
  max-width: 100%; /* Ensures images are responsive by default */
}

input,
button,
textarea,
select {
  font: inherit;
}

body {
  line-height: 1.5; /* Improves readability */
  -webkit-font-smoothing: antialiased; /* Better font rendering on macOS/iOS */

  font-family: var(--font-main);
  font-size: var(--font-size-base);
  color: var(--text-color);
  background-color: var(--background-color);
  line-height: 1.6;
}

h1 {
  font-size: 2.5rem;
}

h2 {
  font-size: 2rem;
}

a {
  color: var(--primary-color);
  text-decoration: none;
  transition: color 0.25s ease;
}

a:hover,
a:focus {
  text-decoration: underline;
  color: var(--accent-color);
}

/* Main Styles */

body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

nav {
  background-color: lightblue;
  height: var(--nav-height);
}

main {
  background-color: pink;
  flex: 1;

  display: flex;
  align-items: center;
  justify-content: center;
}

footer {
  background-color: lightgreen;
  height: var(--footer-height);
}

.container {
  max-width: 1000px;
  width: 100%;
  margin: 0 auto; /* center container */
  height: 100%;
  padding: 2rem;
  background-color: lightskyblue;

  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.input {
  max-width: 400px;
  display: flex;
  justify-content: space-between;
}

/* Small Screens */
@media (max-width: 600px) {
  .boxes {
    grid-template-columns: 1fr;
  }
}
