body {
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  font-family: "Inter", sans-serif;
  background-color: #f4f4f9;
}

.calculator {
  display: flex;
  flex-direction: column;
  gap: 16px;
  align-items: stretch;
  background-color: #ffffff;
  padding: 24px;
  border-radius: 16px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  width: 320px;
}

.calculator .display {
  height: 96px;
  background-color: #222;
  border-radius: 12px;
  padding: 16px;
  color: #ffffff;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow: hidden;
}

#mini-display {
  font-size: 14px;
  color: #bbbbbb;
  text-align: right;
}

#display {
  font-size: 36px;
  font-weight: bold;
  text-align: right;
}

.calculator .row {
  display: flex;
  gap: 12px;
}

.calculator button {
  cursor: pointer;
  flex: 1;
  height: 64px;
  font-size: 20px;
  font-weight: 500;
  border: none;
  border-radius: 8px;
  background-color: #f0f0f0;
  color: #333;
  transition: background-color 0.2s ease, transform 0.1s ease;
}

.calculator button:hover {
  background-color: #e0e0e0;
}

.calculator button:active {
  transform: scale(0.95);
}

.calculator .operation {
  background-color: #ff9500;
  color: #ffffff;
}

.calculator .operation:hover {
  background-color: #e08900;
}

.calculator .dim {
  background-color: #d3d3d3;
  color: #555555;
}

.calculator .dim:hover {
  background-color: #c0c0c0;
}

.calculator .double-width {
  flex: none; /* Disable flex-grow for precise width control */
  width: calc(50% - 6px); /* Take up half the row width minus half the gap */
}

kbd {
  padding: 4px 7px;
  border: 1px solid #ddd;
  background-color: #eee;
  margin-right: 4px;
  font-size: 16px;
}

.info-icon {
  position: absolute;
  top: 16px;
  right: 16px;
  cursor: pointer;
  font-size: 26px;
  color: #555;
  transition: color 0.2s ease;
}

.info-icon:hover {
  color: #000;
}

.info-panel {
  display: none;
  position: absolute;
  top: 26px;
  right: 24px;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 24px;
  width: 230px;
  z-index: 10;
}

.info-panel h4 {
  margin: 0 0 8px;
  font-size: 16px;
  color: #333;
  margin-bottom: 18px;
  text-decoration: underline;
}

.info-panel ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 18px;
  padding: 0;
  margin: 0;
}

.info-panel ul li {
  font-size: 16px;
  color: #555;
  margin-bottom: 4px;
  line-height: 24px;
}

.info-panel ul li b {
  color: #000;
}
