* {
  box-sizing: border-box;
}

:root {
  --board-size: 450px;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
}

hr {
  width: 600px;
}

/* #errors {
  color: coral;
} */

#board {
  width: var(--board-size);
  height: var(--board-size);

  background-color: white;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
}

.tile {
  width: calc(var(--board-size) / 9);
  height: calc(var(--board-size) / 9);
  border: 1px solid lightgray;

  /* Text */
  font-size: 20px;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
}

#digits {
  width: var(--board-size);
  height: calc(var(--board-size) / 9);

  background-color: white;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
}

.number {
  width: calc(var(--board-size) / 9 - 4px);
  height: 54px;
  border: 1px solid black;
  border-radius: 0.2rem;
  margin: 2px;

  cursor: pointer;

  /* Text */
  font-size: 20px;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
}

.number:hover {
  background-color: rgb(235, 235, 235);
}

.number-selected {
  background-color: rgb(231, 231, 231);
}

.tile-start {
  background-color: whitesmoke;
}

.horizontal-line {
  border-bottom: 1px solid black;
}

.vertical-line {
  border-right: 1px solid black;
}
