body {
  background-color: #222;
}

.container {
  display: flex;
  gap: 1.5rem;
  height: 95vh;
  align-items: center;
  justify-content: center;
}

.hour,
.minute,
.second {
  /* border: 2px solid yellow; */
  display: flex;
}

.digit {
  display: grid;
  grid-template: repeat(6, 1fr) / repeat(4, 1fr);
  gap: 0.125rem;
  width: max-content;
}

.clock {
  position: relative;
  height: 2rem;
  width: 2rem;
  background: oklch(20% 0 0);
  border: 0.2rem solid oklch(30% 0 0);
  border-radius: 25%;
}

.hand {
  height: 0.1875rem;
  background-color: oklch(0.9475 0.1916 119.15);

  position: absolute;
  top: 50%;
  left: 50%;
  translate: 0% -50%;
  width: 50%;
  transform-origin: center left;
  /* transition: rotate 250ms; */
}

.hand:nth-child(1) {
  rotate: 135deg;
}

.hand:nth-child(2) {
  rotate: 135deg;
}
