:root {
  --background-color: #0b5351;
  --cell-background-color: #2a6a68;
  --cell-border-color: #092327;
  --hand-color: #daf0ee;

  --cell-size: 2.5rem;
  --cell-border-size: max(calc(var(--cell-size) / 16), 1.5px);
  --cell-border-radius: 50%;
  --field-gap: 3rem;

  --filled-background-color: #092327;
}

body {
  background-color: var(--background-color);
  overflow: hidden;
}

.container {
  display: flex;
  gap: var(--field-gap);
  height: 100vh;
  align-items: center;
  justify-content: center;
}

.hour,
.minute,
.second {
  /* border: 2px solid yellow; */
  display: flex;
  gap: 0.6rem;
}

.digit {
  display: grid;
  grid-template: repeat(6, 1fr) / repeat(4, 1fr);
  gap: 0.125rem;
  width: max-content;
}

.clock {
  position: relative;
  height: var(--cell-size);
  width: var(--cell-size);
  background: var(--cell-background-color);
  border: 0.2rem solid var(--cell-border-color);
  border-radius: var(--cell-border-radius);

  opacity: 0;
  transform: scale(0.8);
  animation: appear 1.5s ease forwards;

  transition: opacity 0.5s ease, background 0.5s ease, transform 0.5s ease,
    border-color 0.5s ease;
}

.clock.filled {
  background: var(--filled-background-color);
  opacity: 1 !important;
}

.clock.dim {
  border-color: var(--cell-background-color);
}

.clock.dim > .hand {
  opacity: 0.4;
}

@keyframes appear {
  to {
    opacity: 1;
    rotate: 0deg;
    transform: scale(1);
  }
}

.hand {
  height: 0.1875rem;
  background-color: var(--hand-color);

  position: absolute;
  top: 50%;
  left: 50%;
  translate: 0% -50%;
  width: 50%;
  rotate: 135deg;
  transform-origin: center left;

  transition: rotate 0.6s cubic-bezier(0.68, -0.55, 0.27, 1.55);
  will-change: rotate;
}
