/* =========================
   RESET & GLOBALS
   ========================= */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --highlight: #fca311;
  --digit-color: #14213d;
  --container-color: #ffffff;
  --background-color: #14213d;
  --panel-color: #0f1a30; /* darker than background */
  --label-color: #aaaaaa;
}

body {
  height: 100vh;
  background-color: var(--background-color);
  font-family: Lato, Helvetica, sans-serif;

  display: flex;
  align-items: center;
  justify-content: center;
}

/* =========================
   CLOCK CONTAINER (PANEL)
   ========================= */
.clock-container {
  padding: 54px;
  background-color: var(--panel-color);
  border-radius: 24px;
  border-radius: 48px;
  box-shadow: 0px 0px 16px 3px rgba(0, 0, 0, 0.07);
}

/* =========================
   CLOCK LAYOUT
   ========================= */
.clock {
  display: flex;
  align-items: center;
  justify-content: center;
}

.group {
  display: flex;
  gap: 12px;
  margin: 0 12px;
}

.column {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* =========================
   BIT BLOCKS
   ========================= */
.block {
  display: flex;
  flex-direction: column;
  gap: 6px;
}

.bit_val {
  width: 100px;
  height: 100px;

  display: flex;
  align-items: center;
  justify-content: center;

  background-color: var(--container-color);
  /* border: 2px solid black; */
  border-radius: 18px;

  font-size: 36px;
  color: var(--digit-color);

  user-select: none;
}

.bit_val.on {
  background-color: var(--highlight);
  box-shadow: 0px 6px 16px 8px rgba(255, 136, 0, 0.07);
}

/* =========================
   LABELS
   ========================= */
.label {
  margin-top: 24px;
  font-size: 32px;
  font-weight: bold;
  letter-spacing: 2px;

  color: var(--label-color);
  cursor: default;
  user-select: none;
}
