* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --highlight: #fca311;
  --text-color: #14213d;
  --container-color: #ffffff;
  --background-color: #e5e5e5;
}

body {
  background-color: var(--background-color);
  height: 100vh;
  font-family: Lato, Helvetica, sans-serif;
}

.clock {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.bit_val {
  width: 100px;
  height: 100px;
  border: 2px solid black;
  background-color: var(--container-color);

  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 36px;
  color: var(--text-color);
}

.bit_val.on {
  background-color: var(--highlight);
}
